retrosheet.db
*.swp
data/unzipped/chadwick*
*.libs/
comon/programs/*
data/parsed/*
data/unzipped/*.EV*
data/unzipped/*.ROS
data/unzipped/TEAM*
data/zipped/*.zip
data/unzipped/backup/*
data/zipped/backup/*
analysis
*-journal
